#title{
	text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: 10% auto 5% auto;
}

html, body{
	width: 100%;
	color: white;
	background-color: #f55555;
	font-family: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

button{
	border: 1px solid;
	background: none;
	background-color: #dc7878;
	color: inherit;
	font: inherit;
}

button:focus {outline:0;}

#container{
	width:50%;
	color: white;
	margin:auto;

}

#settings{
	overflow: hidden;
	width:50%;
	margin:auto;
}

.setting{
	text-align:center;
	width:50%;
	float: left;
	font-size: 1.2em;

}

#clock{
	font-size: 3.5em;
	text-align: center;
	padding: 5%;
}

#buttons{
	overflow: hidden;
	width:50%;
	margin:auto;
}

.button{
	text-align:center;
	width:33%;
	float: left;
}

.duration{
	font-size: 2.5em;
	text-align: center;
	padding-top: 5%;
}

.duration_button{
	width: 15%;
	height:50%;
}